.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
.box{
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  width: 700px;
  justify-content: center;
}

